@model List<string>
<div class="flex justify-end gap-3 py-7">
    <button
        class="text-center w-full px-4 py-3 rounded-lg border border-[#E15652] mr-2 cursor-pointer hover:bg-[#E15652] hover:text-white transition-colors duration-200 ease-in text-[#E15652] font-medium"
        x-on:click="isDataSelected=false">
        إلغاء
    </button>
   
</div>